
{% extends "User/header.html" %}
{% block content %}
{% load static %}
<section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row" style="width: 90%; margin:auto">
      
       
        <div class="col-md-12">
           
         <h1 class="text-center" style="color: rgb(14, 120, 128);">Profile</h1>
         <div class="container mt-4">
            <h2>Profile</h2>
            {% if data %}
            <table class="table table-striped">
                    <tbody>
                    
                        <tr>
                     
                            <td>{{ data.name }}</td>    </tr>
                            <tr>
                     
                                <td>{{data.phone_number }}</td> </tr>
                                <tr>
                     
                                    <td>{{ data.email_id }}</td> </tr>
                                    <tr>
                     
                                        <td>{{ data.dob }}</td> </tr>
                                        <tr>
                     
                                            <td>{{ data.address }}</td> </tr>
                            
                        </tr>
               
                     
      
                    </tbody>
                </table>
            {% else %}
                <p>No profile found.</p>
            {% endif %}
        </div>
     
        </div>
       
      </div>

    </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- info section -->

  {% endblock %}