{% extends "Master/header.html" %}
{% block content %}
{% load static %}
<div class="pagetitle">
    <h1> Police Station</h1>
    <nav>

    </nav>
  </div>
    <section class="section" style="min-height: 500px;">
      <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
          <div class="alert alert-success"> {{message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Edit Police Station</h5>
              <form action="{% url 'update_police_station' data.police_station_id %}" method="post" id="myform" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                <div class="col-sm-6">
              
                  <div class="form-group"> <label for="">Place</label>
                    <input type="text" name="place" class="form-control" value="{{data.place}}" id="place"></div>

                    <div class="form-group">
                        <span><label>ADDRESS</label></span>
                       <span><textarea name="address"  class="form-control">{{data.address}}</textarea></span>
                   </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span><label>PHONE NUMBER</label></span>
                     <span><input name="phone" type="text" class="form-control" value="{{data.phone_number}}"> </span>
                 </div>
                 
                    <div class="form-group">
                      <span><label>Mail ID</label></span>
                     <span><input name="mail_id" type="text" class="form-control" value="{{data.mail_id}}"></span>
                 </div>
                 <br>
                    </div>
                    <div class="col-sm-12" style="text-align: center;">
                      <br>
                      <button type="submit" class="btn btn-info">Submit</button> </form> </div>
</div>
<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
<script>
$("#state").change(function () {
var state = $(this).val();
alert(state)
$.ajax({

url: "{% url 'display_district' %}",
data: {
'state_id': state
},
dataType: 'json',
success: function (data) {


          let html_data = '<option value="">--Select--</option>';
data.forEach(function (data) {
html_data += `<option value="${data.district_id}">${data.district}</option>`
});
$("#district").html(html_data);



}
});

});
</script>

                <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>
(function ($, W, D)
{
var JQUERY4U = {};
JQUERY4U.UTIL =
{
  setupFormValidation: function ()
  {
    $.validator.addMethod(
"regex",
function(value, element, regexp) {
var check = false;
return this.optional(element) || regexp.test(value);
},
"Not a valid Input."
);

  //form validation rules
  $("#myform").validate({
    rules: {
                        state: {
                          required: true,


                        },
                        district: {
                          required: true,


                        },
                        place: {
                          required: true,
                          regex :/^[a-zA-Z ]+$/,
                      minlength: 3,


                        },
                        type: {
                          required: true,


                        },
                        mail_id: {
                     required: true,
                     regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/

                    },
                    phone: {
                        required: true,
                        digits:true,
                           minlength: 10,
                           maxlength: 10,
                           regex : /^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$/
                    },
                        address: {
                          required: true,

                      minlength: 5,


                        },
                        image: {
                          required: true,
                        extension:'jpg|png|jpeg'

                        },
                        username: {
                                    required: true,
                                    regex : /^[A-Za-z0-9@]+$/,
                                    minlength: 5,
                                    maxlength: 15,
                        
                                },
                                password: {
                                    required: true,
                                     regex : /^[A-Za-z0-9@#*]+$/,
                                     minlength: 5,
                                    maxlength: 15,
                        
                                },
                                cpassword: {
                                    required: true,
                                       regex : /^[A-Za-z0-9@#*]+$/,
                                       minlength: 5,
                                      maxlength: 15,
                                  equalTo: "#password1"
                        
                                },
                      },
                      messages: {



      },
      submitHandler: function (form) {
      form.submit();
      }
  });
}
}
//when the dom has loaded setup form validation rules
$(D).ready(function ($) {
JQUERY4U.UTIL.setupFormValidation();
});
})(jQuery, window, document);
</script>

            </div>
          </div>

  

      </div>
    </section>

    {% endblock %}