{% extends "Master/header.html" %}
{% block content %}
{% load static %}
<div class="pagetitle">
    <h1>Registered Crimes</h1>
    <nav>

    </nav>
  </div>
    <section class="section" style="min-height: 500px;">
      <div class="row">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
          <div class="alert alert-success"> {{message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Crimes List</h5>
              {% if crime %}
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Category</th>
                          <th>Place</th>
                          <th>Subject</th>
                          <th>Date & Time</th>
                          <th>Police Station</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for c in crime %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ c.category.category }}</td>
                          <td>{{ c.place }}</td>
                          <td>{{ c.subject }}</td>
                          <td>{{ c.crime_datetime|date:"Y-m-d H:i" }}</td>
                          <td>{{ c.police_station.place }}</td>
                          <td>{{ c.status }}</td>
                          <td>   <a target="_blank" href="{% url 'adm_google_map_view_spot' c.latitude|floatformat:10 c.longitude|floatformat:10 %}" class="btn btn-info">
                            Google Location
                        </a></td>
                          <td><a href="{% url 'to_assign_crimes' c.crime_id %}"  class="btn btn-danger">Assign</a></td>
                          <td><a href="{% url 'adm_crime_more' c.crime_id %}" class="btn btn-info">More Details</a></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <p>No complaints found.</p>
          {% endif %}
          </div></div>
        </div>
      </div>
    </section>

    {% endblock %}