{% extends "Police/header.html" %}
{% block content %}
{% load static %}
<div class="pagetitle">
    <h1> Crimes</h1>
    <nav>

    </nav>
  </div>
    <section class="section" style="min-height: 500px;">
      <div class="row">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
          <div class="alert alert-success"> {{message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Crimes Details</h5>
              {% if crime %}
              <table class="table table-striped">
                      <tbody>
                      
                          <tr>
                            <td>Name: {{ crime.user.name }}</td>    </tr>
                            <tr>
                              <td>Contact: {{ crime.user.phone_number }}</td>    </tr>
                              <tr>
                                <td>Email: {{ crime.user.email_id }}</td>    </tr>
                                <tr>
                                  <td>DOB: {{ crime.user.dob }}</td>    </tr>
                                  <tr>
                                    <td>Address: {{ crime.user.address }}</td>    </tr>
                              <tr><td>{{ crime.category.category }}</td>    </tr>
                              <tr>
                       
                                  <td>{{crime.place }}</td> </tr>
                                  <tr>
                       
                                      <td>{{ crime.subject }}</td> </tr>
                                      <tr>
                       
                                          <td>{{ crime.crime_datetime|date:"Y-m-d H:i" }}</td> </tr>
                                          <tr>
                       
                                              <td>{{ crime.status }}</td> </tr>
                              
                          </tr>
                          <tr>
                       
                              <td>{{ crime.complaint_text }}</td> </tr>
                              <tr>
                                  <td><a href="{{crime.supporting_document}}" target="_blank" class="btn btn-info">Download Document</a></td>
                                  </tr>
        
                      </tbody>
                  </table>
              {% else %}
                  <p>No complaints found.</p>
              {% endif %}
          </div></div>
        </div>
      </div>
    </section>

    {% endblock %}