{% extends "Police/header.html" %}
{% block content %}
{% load static %}
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>

    </nav>
  </div>
  <style>
    
    i{
      color: rgb(42, 159, 136);
font-size: 30px;
    }
  </style>
    <section class="section" style="min-height: 500px;">
      <div class="row">
        <div class="col-lg-12">

            
                 
            
                </div>
           
        </div>

        <div class="col-lg-12">
          <div class="row">
      
              <!-- Patient Count Card -->
              <div class="col-xxl-12 col-md-12">
                  <div class="card info-card sales-card">
                      <div class="card-body">
                        <h5 class="card-title"></span></h5>
                          <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            
                              </div>
                              <div class="ps-3">
                              
                               
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      
              
</div>
</div>
</div>         
      
          </div>
     
  </div>   



      </div>

    </div>
      </div>
    </section>

    {% endblock %}