
{% extends "header.html" %}
{% block content %}
{% load static %}
  <section class=" slider_section">
    <div id="carouselExampleIndicators" class="carousel slide vert" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
               CrimeTracker
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
                <h1>
                  CrimeTracker
                </h1>
                <h1>
                  "Stay Alert, Stay Safe!"
                </h1>
              </div>
              <div class="slider_detail-text">
                <p>
                  With its user-friendly interface, the CrimeTracker enhances public participation in crime prevention while improving the efficiency of law enforcement agencies. 
                  This system contributes to maintaining law and order by providing accurate crime data and supporting strategic decision-making.
                </p>
              </div>
              <div class="slider_detail-btn">
                <a href="">
                  <span>
                    Read More
                  </span>
                  <img src="{% static 'assets/images/arrow.png'%}" alt="" class="ml-2" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
               CrimeTracker
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
                <h1>
                  CrimeTracker
                </h1>
                <h1>
                  "Stay Alert, Stay Safe!"
                </h1>
              </div>
              <div class="slider_detail-text">
                <p>
                  With its user-friendly interface, the CrimeTracker enhances public participation in crime prevention while improving the efficiency of law enforcement agencies. 
                  This system contributes to maintaining law and order by providing accurate crime data and supporting strategic decision-making.
                </p>
              </div>
              <div class="slider_detail-btn">
                <a href="">
                  <span>
                    Read More
                  </span>
                  <img src="{% static 'assets/images/arrow.png'%}" alt="" class="ml-2" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
                CrimeTracker
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
                <h1>
                  CrimeTracker
                </h1>
                <h1>
                  "Stay Alert, Stay Safe!"
                </h1>
              </div>
              <div class="slider_detail-text">
                <p>
                  With its user-friendly interface, the Crime Tracker enhances public participation in crime prevention while improving the efficiency of law enforcement agencies. 
                  This system contributes to maintaining law and order by providing accurate crime data and supporting strategic decision-making.
                </p>
              </div>
              <div class="slider_detail-btn">
                <a href="">
                  <span>
                    Read More
                  </span>
                  <img src="{% static 'assets/images/arrow.png'%}" alt="" class="ml-2" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <!-- end slider section -->

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-md-6">
          <div>
            <img class="img-fluid" src="{% static 'assets/images/welcome.png'%}" alt="" />
          </div>
        </div>
        <div class=" col-md-6">
          <div class="welcome_detail">
            <h3>
              Welcome
            </h3>
            <h2>
              Welcome to CrimeTracker
            </h2>
            <p align = 'justify'>
              This system enables users to report incidents in real-time, ensuring quick responses from authorities.
              The platform categorizes crimes based on their nature and location, helping law enforcement allocate resources effectively. 
              It includes features such as crime mapping, statistical analysis, and reporting tools to identify high-crime areas and trends. By utilizing a structured database, the system ensures that crime records are easily accessible for investigation and future reference.
            </p>
            <div class="welcome_detail-btn">
              <a href="">
                <span>
                  Read More
                </span>
                <img src="images/arrow-black.png" alt="" class="ml-2" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}