
{% extends "header.html" %}
{% block content %}
{% load static %}
<section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5" style="padding:10px">
            <img src="{% static 'assets/images/police.jpg' %}" alt="" class="h-100 w-100 ">
         
         
        </div>
        <div class=" col-md-6 contact_form-container">
          <div class="contact_box">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success"> {{message }}</div>
            {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'login_action' %}" method="post" id="myform1">
                {% csrf_token %}
                <div class="row gy-4">
      
                  <div class="col-md-12">
                    <label for="c_fname"  style="color: black">User Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="username" name="username" >
                  </div>
      
                  <div class="col-md-12 ">
                    <label for="c_fname" style="color: black;">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
      
                
      
                  <div class="col-md-12 text-center">
                    <a style="margin: 12px; text-align: center;" href="/forget_password/" >Forget Password?</a>
                    <button class="btn btn-info py-3 px-5" type="submit">Login</button>
                  </div></div>
      </div>
               
              </form>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- info section -->

  {% endblock %}