<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
{% load static %}
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">New Password</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post" action="/change_psd/">
                        {% csrf_token %}
                        {{reg_email}}  {{Email}}
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                              <input id="password" name="password" required placeholder="Enter New Password" class="form-control" required  type="text">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                              <input id="cpassword" name="cpassword" required placeholder="Confirm Password" class="form-control" required  type="text">
                            </div>
                          </div>
                      <div class="form-group">
                        <input type="hidden" value="{{logid}}" name="logid">
                       
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
                    <script src="{% static 'assets/jquery/jquery.js' %}"></script>
                          
                    <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                    <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
    <script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
      setupFormValidation: function ()
      {
        $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
      //form validation rules
      $("#myform").validate({
        ignore: [],
        rules: {
                     
                            password: {
                                required: true,
                                 regex : /^[A-Za-z0-9@#*]+$/,
                                 minlength: 5,
                                maxlength: 15,
    
                            },
                            cpassword: {
                                required: true,
                                   regex : /^[A-Za-z0-9@#*]+$/,
                                   minlength: 5,
                                  maxlength: 15,
                              equalTo: "#password1"
    
                            },
                         
                             },
                          messages: {
    
                            phone: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",
    
              username: "Please Enter Valid User Name(5-15 digit alphanumeric username",
                password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
                   cpassword: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
                   uname:"User name is not available",
          },
          submitHandler: function (form) {
          form.submit();
          }
      });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script> 
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>