
{% extends "header.html" %}
{% block content %}
{% load static %}
<section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5" style="padding:10px">
            <img src="{% static 'assets/images/police.jpg' %}" alt="" class="h-100 w-100 ">
         
         
        </div>
        <div class=" col-md-6 ">
          <div class="">
            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">
        
                  <div class="col-md-11">

                    <h5 class="card-title"><center>Citizen Registration</center></h5><br>
                    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-success"> {{message }}</div>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
                    <form  action="{% url 'user_action' %}"  method="post" id="myform" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="row">   
                            <div class="col-sm-6">
                        <div>
                        <span> Name</span>
                        <input type="text" placeholder="Name" class="form-control" name="Name"  >
                        </div>
                        <div>
                        <span>Phone Number</span>
                        <input type="text" placeholder="phone number"  class="form-control"  name="phone"  >
                        </div>
                        <div>
                        <span>Email Address</span>
                        <input type="email" placeholder="E-mail"  class="form-control"  name="Email"  >
                        </div>
                        <div>
                          <span>Address</span>
                          <textarea placeholder="Address"  class="form-control"  name="address" ></textarea>
                          </div>
                         
                    </div>
                    <div class="col-sm-6">
                       
                      <div>
                        <span>Date of Birth</span>
                        <input type="date" placeholder=""  class="form-control"  name="dob"  max="{{ today|date:'Y-m-d' }}">
                        </div>
                            
                        <div>
                            <span>Username</span>
                            <input name="username" id="id_username" placeholder="Username" type="text" class="form-control">
                            <span id="cb"></span>
                            </div>
                            <div>
                            <span>Password</span>
                            <input type="password" placeholder="Password" name="password" id="password1"   class="form-control" >
                            </div>
                            <div>
                            <span>Confirm Password</span>
                            <input type="password" placeholder="Confirm Password" name="cpassword" id="password2"   class="form-control" >
                            </div>
                           
                        </div> <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div style="text-align: center; margin-top: 10px;">
                            <input  type="submit" class="btn btn-info"  value="REGISTER"> </div></div>
                        </div>
                        </form>
                     
                        <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                        <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
                        <script>
                        (function ($, W, D)
                        {
                        var JQUERY4U = {};
                        JQUERY4U.UTIL =
                        {
                        setupFormValidation: function ()
                        {
                        $.validator.addMethod(
                        "regex",
                        function(value, element, regexp) {
                        var check = false;
                        return this.optional(element) || regexp.test(value);
                        },
                        "Not a valid Input."
                        );
                        
                          //form validation rules
                $("#myform1").validate({
                rules: {
                
                 
                            username: {
                                          required: true,
                                         
                
                                        },
                                        password: {
                                          required: true,
                                        
                                        },
                         
                                    
                                      },
                                      messages: {
                
                      },
                      
                submitHandler: function (form) {
                form.submit();
                }
                });
                        
                        //form validation rules
                        $("#myform").validate({
                        ignore: [],
                        rules: {
                        Name: {
                                  required: true,
                                  regex : /^[A-Za-z ]+$/,
                                  minlength: 3,
                        
                                },
                        
                        
                        
                                phone: {
                                    required: true,
                                    digits:true,
                                       minlength: 10,
                                       maxlength: 10,
                                       regex : /^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$/
                                },
                                address: {
                                  required: true,
                                  minlength: 3,
                        
                                },
                        
                                dob: {
                                  required: true,
                                 
                        
                                },
                        
                                Email: {
                                 required: true,
                                 regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
                        
                                },
                                username: {
                                    required: true,
                                    regex : /^[A-Za-z0-9@]+$/,
                                    minlength: 5,
                                    maxlength: 15,
                        
                                },
                                password: {
                                    required: true,
                                     regex : /^[A-Za-z0-9@#*]+$/,
                                     minlength: 5,
                                    maxlength: 15,
                        
                                },
                                cpassword: {
                                    required: true,
                                       regex : /^[A-Za-z0-9@#*]+$/,
                                       minlength: 5,
                                      maxlength: 15,
                                  equalTo: "#password1"
                        
                                },
                                proof: {
                                    required: true,
                                    extension:'jpg|png|jpeg'
                        
                        
                                },
                              },
                              messages: {
                        
                                phone: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",
                        
                        username: "Please Enter Valid User Name(5-15 digit alphanumeric username",
                        password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
                        cpassword: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
                        uname:"User name is not available",
                        },
                        submitHandler: function (form) {
                        form.submit();
                        }
                        });
                        $("#myform1").validate({
                        ignore: [],
                        rules: {
                        
                        
                        
                        
                        
                            username: {
                                required: true,
                                
                        
                            },
                            password: {
                                required: true,
                                 
                        
                            },
                            
                            
                          },
                          messages: {
                        
                         
                        },
                        submitHandler: function (form) {
                        form.submit();
                        }
                        });
                        }
                        }
                        //when the dom has loaded setup form validation rules
                        $(D).ready(function ($) {
                        JQUERY4U.UTIL.setupFormValidation();
                        });
                        })(jQuery, window, document);
                        </script>
                  </div><!-- End Contact Form -->
                </div>
        
              </div>
                </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>

  <!-- end contact section -->

  <!-- info section -->

  {% endblock %}